.expozice-img {
    position: relative;
    background-image: url('https://vida.cz/images/headers/main/145/_thumb1/expoziceweb-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.expozice-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 42, 60, 0.7);
}